nav .navbar-brand
{
    font-size: xx-large;
    color: white;
}

table {
    background-color: transparent;
    margin-bottom: 1rem;
    width: 100%;
    color: #f5f5f5;
}

table th,
table td {
    padding: 0.75rem;
    vertical-align: middle;
}

tbody tr:nth-of-type(odd) {
    background-color: rgba(133, 78, 1, 0.3);
}